spring:
  config:
    activate:
      on-profile: dev

  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

server:
  port: 8080

taskflow:
  ai-url: ${IA_URL}

app:
  cors:
    allowed-origins:
      - http://localhost:5173
springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true
