spring:
  application:
    name: taskflow-backend

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  
  servlet:
    multipart:
      max-request-size: 1MB
      max-file-size: 1MB

logging:
  level:
    root: INFO

server:
  tomcat:
    max-http-form-post-size: 1MB
