spring:
  config:
    activate:
      on-profile: prod

  datasource:
    url: ${DATABASE_URL}
    
    hikari:
      connection-timeout: 60000
      initialization-fail-timeout: -1
      maximum-pool-size: 5

  jpa:
    defer-datasource-initialization: true
    hibernate:
      ddl-auto: update
 

server:
  port: 8080

taskflow:
  ai-url: ${IA_URL}

  app:
  cors:
    allowed-origins:
      - https://francortiz-137.github.io/

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true

security:
  jwt:
    secret: ${JWT_SECRET}
    expiration-seconds: ${JWT_ACCESS_MINUTES}

logging:
  level:
    root: INFO
    com.franco.backend: INFO
    org.hibernate: WARN
